
<br />
<br />
<div class="card" style="width: 18rem;">
    <img src="\images\Cosmology-book.jpg" class="card-img-top" alt="Cosmology">
    <div class="card-body">
        <h5 class="card-title">Introduction to Cosmology</h5>
        <p class="card-text">This second edition of Introduction to Cosmology is an exciting update of an award-winning textbook. It is aimed primarily at advanced undergraduate students in physics and astronomy, but is also useful as a supplementary text at higher levels.</p>
        <button id="btnAddToCart" type="button" class="btn btn-primary">Add Product to Cart</button>
    </div>
</div>
<button id="btnDeleteFromCart" type="button" class="btn btn-danger">Clear Cart</button>
<button id="btnOrderCompletion" type="button" class="btn btn-danger">Create Order</button>
<button id="btnPaymentCompleted" type="button" class="btn btn-warning">Read to Pay</button>
<button id="btnCheckOut" type="button" class="btn btn-success">Payment Completed</button>

