<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="Foundation.Serialization" description="Write something here about why this configuration exists and what it's for. Or remove the attribute; it's optional.">
					<targetDataStore physicalRootPath="C:\PSN\TRN\sitecorecdp\SitecoreCDPSln\src\Foundation\Serialization\unicorn" />
					<predicate>
						<include name="Layouts" database="master" path="/sitecore/layout/Layouts/Project/sitecorecdp" />
						<include name="Templates" database="master" path="/sitecore/templates/Project/sitecorecdp" />
						<include name="Renderings" database="master" path="/sitecore/layout/Renderings/Project/sitecorecdp" />
						<include name="Placeholders" database="master" path="/sitecore/layout/Placeholder Settings/Project/sitecorecdp" />
						<include name="Content" database="master" path="/sitecore/content/sitecorecdp" />
						<include name="MediaLibrary" database="master" path="/sitecore/media library/bootcampjssapp" />
						<include name="Tags" database="master" path="/sitecore/system/Settings/Buckets/ProductTags"/>
					</predicate>
					<dataProviderConfiguration enableTransparentSync="false" />
					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
