<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="Feature.Sample" description="Write something here about why this configuration exists and what it's for. Or remove the attribute; it's optional.">
					<predicate>
						<include name="Layouts" database="master" path="/sitecore/layout/Layouts/sitecorecdp" />
						<include name="Templates" database="master" path="/sitecore/templates/sitecorecdp" />
						<include name="Renderings" database="master" path="/sitecore/layout/Layouts/Project/sitecorecdp" />
						<include name="Content" database="master" path="/sitecore/content/sitecorecdp" />
					</predicate>
					<dataProviderConfiguration enableTransparentSync="false" />
					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
